<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iksadnorth.rmsoft.repository.HistoryRepository">

    <insert id="save" parameterType="com.iksadnorth.rmsoft.domain.History">
        INSERT INTO history
            (created_at, type, book_id, member_id)
        VALUES
            (#{createdAt}, #{type}, #{bookId}, #{memberId})
    </insert>

    <select id="findAllOrderedByCreatedAtDesc" resultType="com.iksadnorth.rmsoft.domain.History">
        SELECT * FROM history ORDER BY created_at DESC
    </select>

    <select id="findLatestHistoryByBookId" parameterType="Long" resultType="com.iksadnorth.rmsoft.domain.History">
        SELECT * FROM history WHERE book_id = #{bookId} ORDER BY created_at DESC LIMIT 1
    </select>

</mapper>